.App {
  text-align: center;
  background-color: #242424;
}

.menu {
  min-height: 100vh;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  text-align: left;
  color: white;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 4px;
  cursor: pointer;
}

.menu-item-link {
  text-decoration: none;
  color: white;
}